body {
	background-color:#F2EFF1;
	font-family: 'Roboto';
}

#sidenav {
	position: fixed;
	height: 100%;
	width: 250px;
	background-color: black;
}

#logo {
	position: fixed;
	width: 200px;
	bottom: 0;
	left: 0;
	z-index: 1;
}

#content {
	align-items: center;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	height: 400px;
	justify-content: center;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
}

#intro {
	width: 60%;
}

#quiz {
	width: 60%;
}

.header {
	border-bottom: 2px linear black;
	border-radius: 3px;
	color: ghostwhite;
	font-size: 24px;
	padding: 15px 0;
	text-align: center;
}

#wrong-choice {
	color: red;
	position: absolute;
	right: 5%;
	top: 10px;
	transition: 500ms linear opacity, 500ms linear top;
}

#wrong-choice.hidden {
	opacity: 0;
	top: 0;
}

#done, #back {
	border-radius: 2px;
	bottom: 0;
	cursor: pointer;
	left: 0;
	padding: 0 2px;
	position: absolute;
}

#done:hover, #back:hover {
	background: -webkit-linear-gradient(top, rgba(225, 225, 225, 0.4), rgba(225, 225, 225, 0.1));
	background: linear-gradient(top, rgba(225, 225, 225, 0.4), rgba(225, 225, 225, 0.1));
}

#intro .option, #quiz .option {
	border-radius: 3px;
	box-shadow: 2px 2px 5px #888888;
	color: #F8F8FF;
	cursor: pointer;
	position: relative;
	-webkit-box-shadow: 2px 2px 5px #888888;
}

#intro .option {
	background: rgba(225,0,0,0.8);
	display: flex;
	flex-direction: column;
	height: 40px;
	justify-content: center;
	margin: auto;
	padding: 0 5px;
	width: 60%;
}

#intro .option:hover {
	opacity: 0.9;
}

#intro .custom-choice, #intro .custom-choice > * {
	height: 30px;
	line-height: 30px;
}

#intro .custom-choice {
	display: flex;
	flex-direction: row;
	margin: auto;
	width: 60%;
}

#intro .custom-choice input {
	border: none;
	border-bottom: 2px solid rgb(238, 238, 238);
	box-sizing: border-box;
	margin-right: 5%;
	outline: none;
	width: 75%;
}

#intro .custom-choice input::-webkit-input-placeholder {
	color: darkcyan;
	text-align: center;
} #intro .custom-choice input::-moz-input-placeholder {
	color: darkcyan;
	text-align: center;
}

#intro .custom-choice .option {
	background-color: darkcyan;
	width: 20%;
}

#quiz #poster {
	bottom: 5px;
	height: 150px;
	position: absolute;
	right: 10px;
}

#quiz #options {
	margin-top: 20px;
	padding: 0 5%;
}

#quiz .option {
	display: inline-block;
	margin: 10px 2%;
	padding: 5px;
	text-align:left;
	transition: 500ms linear background-color;
	width: 40%;
}

#quiz .option:first-of-type {
	background-color: rgba(228,26,28, 0.8);
} #quiz .option:nth-of-type(2) {
	background-color: rgba(55,126,184, 0.8);
} #quiz .option:nth-of-type(3) {
	background-color: rgba(77,175,74, 0.8);
} #quiz .option:nth-of-type(4) {
	background-color: rgba(152,78,163, 0.8);
}

#quiz #options .option.chosen {
	background-color: rgba(220,220,220, 0.5);
	color: rgb(220,220,220);
}

#results .block {
	text-align: left;
}

@media only screen and (max-width: 500px) {

	#intro h2 {
		font-size: 1.2em;
	} #intro h3 {
		font-size: 1.0em;
	} #intro h4 {
		font-size: 0.8em;
	}

	#intro .option {
		width: 100%;
	}

	#intro .custom-choice {
		width: 100%;
	}

}

@media only screen and (max-width: 800px) {
	#content {
		width: 100%;
		margin: 0;
		margin-top: 75px;
		padding: 10px 0;
	}

	#logo {
		width: 125px;
	}

	#quiz .option {
		display: block;
		height: 100%;
		text-align: center;
		width: 100%;
	}

	#quiz #poster {
		bottom: 5px;
		height: 100px;
		position: absolute;
		right: 10px;
		width: 80px;
	}
}

@media only screen and (max-height: 600px) {
	#content {
		height: 100%;
	}
}

@media only screen and (max-width: 800px) and (max-height: 600px) {
	#logo {
		bottom: initial;
		top: 0;
	}

	#quiz #poster {
		height: auto;
		width: 18%;
	}
}